In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('Advertising.csv', index_col = 0)
data.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

Clearly sales is my target variable and TV, radio and newspaper are my features. This is a supervised learning problem

In [4]:
data.describe()

               TV       radio   newspaper       sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

In [5]:
data.shape

(200, 4)

##### Add some EDA steps like scatterplot, pairplot, distplot, heatmap, outlier plot etc

### Shuffle and Split

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
features = data[['TV']]
target = data[['sales']]

In [13]:
X_train, X_test, y_train, y_test = train_test_split(features, target, train_size = .85, random_state=10)

print('Train set of features: ', X_train.shape)
print('Test set of features: ', X_test.shape)
print('Target for train: ', y_train.shape)
print('Target for test: ', y_test.shape)

Train set of features:  (170, 1)
Test set of features:  (30, 1)
Target for train:  (170, 1)
Target for test:  (30, 1)

In [9]:
X_train

        TV
25    62.3
44   206.9
102  296.4
164  163.5
22   237.4
..     ...
114  209.6
65   131.1
16   195.4
126   87.2
10   199.8

[150 rows x 1 columns]

### Learn the model on train data

In [10]:
from sklearn.linear_model import LinearRegression

In [11]:
my_model = LinearRegression()

In [12]:
# Train the model
my_model.fit(X_train, y_train)

LinearRegression()

### Test the model

In [24]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [32]:
#Predictions on unseen data
y_pred = my_model.predict(X_test)

In [25]:
# MAE

mean_absolute_error(y_pred, y_test)

3.095721364975426

In [21]:
# Compare with the true values, MSE

mean_squared_error(y_pred, y_test)

14.459872664611302

In [23]:
#RMSE
np.sqrt(mean_squared_error(y_pred, y_test))

3.8026139252639495

In [ ]:
from sklearn.datasets import load_boston